/* default css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline:none;
}


body{
    background: #000000;
    margin:0 auto 0 auto;
    position:relative;
    left:0;right:0;
}

/* IMGS */
.titleimg{
    width:48%;
    margin:  2em auto 2em auto;
    animation: appearance 0.6s linear;
}

img{
    width:100%;
}

.video{
    position:relative;
    width: 100%;
    padding-bottom: 480px;
    margin: 6em auto 6em auto; 
    max-width: 720px;
}

.video iframe{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    max-height: 480px;
}

@keyframes appearance{
    0%{
        transform: translateY(10px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}

/* NAVBAR */
.nav{
    background: black;
    margin:0;padding: 0;
    font-size:1em;
    color:black;
    position:fixed;
    width:100%;
    z-index: 4;
    text-transform: uppercase;
    border-bottom: 1px solid #222222;
}

.nav-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; padding:0;
}

.navbar{
    display: flex;
    justify-content:space-between;
    width:100%;
}

.navbar h6, .navbar ul{
    line-height: 1.2em;
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
}

.navbar h6 a,.navbar ul li a{  
    display: block;
    text-decoration: none;
    margin: 1em;
}

.navbar h6 a{font-weight:600;}
.navbar ul li a{font-weight: 400;}


/* nav-toggler css start */
.navbutton{
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    display: none;
    outline:none;
    margin:1em;
}

.navbutton span{
    width: 2em;
    height: .3em;
    border-top: 2px solid black;
    display: block;
    margin: 4px 0 4px 0;
}

.navmargin{
    width:100%;
    height:4em;
}

/* NAV RELATIVE*/
@media screen and (max-width: 890px) {

    .nav-container {max-width: 890px}
    .navbar h6{margin: 0.2em 0 0 1em;}
    .navbar ul {
        position: absolute;
        width: 100%;
        max-height:0;
        padding-top: 1em;
        left:0;top:2.4em;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0,0,0,1);
        overflow: hidden;
        transition: .4s linear;
    }

    .navbar ul li {text-align: center; }
    .navbar ul li a {
        margin: 1em 2em 1em 2em;
    }
    .navbar ul.open {
        max-height: 100vh;
        overflow: visible;
        border-bottom: 1px solid #222222;
    }

    /* nav-toggler */
    .navbutton{display: block;}

}



/* TYPOGRAPHY */

.center{
    text-align:center;
}

h2, h5, h6,p, ul{
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
    color:white;
    margin:0;
}

h2{
    font-weight: 800;font-size: 2.4em;
}

h5{
    font-weight: 600;
    font-size: 1.4em;
    line-height: 2em;
    text-transform: uppercase;
}

h6{font-weight: 800;}

p,ul{font-weight:400;}

p, ul, h6{
    font-size: 1.2em;
    line-height: 2em;
}

a{color:white; cursor: pointer;}
a:hover{ color:blue;transition: color 0.2s linear;}
a:active{color:white;}

/* DIVS */
.body{max-width:1440px;margin:auto;}

.section, .text{
    display:flex;
    width:100%;
    animation: appearance 0.6s linear;
}

.text{
    border-top: 1px solid #222222;
    margin: 0;
    padding: 2em;
}

.innerbox{
    width:100%; 
    padding: 2em;
}

.slide{
    width:100%;
    margin:0;padding:0;
    display:block;
    left:0;right:0;bottom:0;top:0;
    animation: appearance 0.6s linear;
}

.slide-wrap{width:100%;}

.image{
    width:100%;
}

.line{
    border-top: 1px solid #222222;
}

footer{
    background-color: black;
}

footer h5, footer p, footer p a{
    color:white;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background:black;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 12px;
}

/* RESPONSIVE */


@media screen and (min-width:801px){

    /* NAVIGATION BAR */

    .menu{
        display:none;
    }

    .centertext{
        margin: 30% 0 30% 0;
    }

    .circle{
        width: 36vw;
        height:36vw;
        border-radius: 50%;
        background-color:black;
        color:white;
        margin:auto;
    }
}

@media screen and (max-width:800px){

    .centertext{
        top: 0;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .circle{
        width: 84vw;
        height:84vw;
        border-radius: 50%;
        background-color:black;
        color:white;
        margin:auto;
    }

    /* IMGS */
    .titleimg{
        width:96%;
        margin:  2em auto 2em auto;
        animation: appearance 0.6s linear;
    }
        
    /* SCROLLBAR */
    ::-webkit-scrollbar {
        display: none;
    }

    /* div */
    .section, .text{
        display: inline-block;
        width:100%;
    }

    .innerbox{
        padding: 1.2em 2em 1.2em 2em;
    }

    text{
        padding: 1em 0 0 0;
    }


}

